<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalhes</title>
</head>
<body>
    <ul>
    <li><%=cliente.nome %> - <%=cliente.email %></li>
    </ul>
</body>
</html>