<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Home</title>
    
</head>
<body>
     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>  
<ul>
<%for(var i in clientes){ %>
<li><%=clientes[i].nome %> - <%=clientes[i].email %></li>                
 <%}%>
</ul>
<br>
<% if(erros){%>
<ul>
<%for(var i in erros){%>
<li><%=erros[i].msg %></li>
<%}%>
</ul>
<%}%>

<form action="/" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="text" name="nome" class="form-control" id="exampleInputEmail1" value="<%=dados.nome%>">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">email</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="email" value="<%=dados.email%>">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
</html>