<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Listagem</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">ISI-Score</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Inserir usuário</a></li>
                <li><a href="/nota">Pontuar candidatos</a></li>
                <li><a href="/listagem">Listagem</a></li>
            </ul>
        </div>
    </nav>  
<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Pontuação</th>
          </tr>
        </thead>
        <tbody>
            <% var count = 1 %>
         <%for(var i in candidatos) {%>
          <tr>
            <td><%=count++ %></td> 
            <td><%=candidatos[i].nome%></td>
            <td><%=candidatos[i].notas%></td>
          </tr>
          <%}%>
        </tbody>
    </table>
</div>
</body>
</html>