<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Pontuar candidatos</title>
    
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">ISI-Score</a>
      </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Inserir usuário</a></li>
          <li><a href="/nota">Pontuar candidatos</a></li>
          <li><a href="/listagem">Listagem</a></li>
        </ul>
    </div>
  </nav>  
<div class="container">
      <form action="/nota" method="post">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Insira o código  do avaliador</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Insira o código do avaliador" name="avaliadores_id">
  </div>
  <div class="form-group">
      <label for="exampleFormControlSelect1">Insira o código do usuário</label>
      <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Insira o código do usuário" name="candidatos_id">
    </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Escolha a nota</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="nota" id="gridRadios1" value="1" >
      <label class="form-check-label" for="gridRadios1">1</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="nota" id="gridRadios2" value="2">
      <label class="form-check-label" for="gridRadios2">2</label>
    </div>
    <div class="form-check disabled">
      <input class="form-check-input" type="radio" name="nota" id="gridRadios3" value="3">
      <label class="form-check-label" for="gridRadios3">3</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</div>
<br>
</body>
</html>