<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Inserir usuário</title>
    
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">ISI-Score</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Inserir usuário</a></li>
            <li><a href="/nota">Pontuar candidatos</a></li>
            <li><a href="/listagem">Listagem</a></li>
          </ul>
    </div>
  </nav>  
<div class="container">
<form action="/" method="post" >
  <div class="form-group">
    <label for="inputName">Nome</label>
    <input type="text" class="form-control" id="nameUser" aria-describedby="emailHelp" placeholder="Escreva o Nome" name="nome">
 </div>
  <div class="form-group">
    <label for="formUser">Selecione tipo de usuário</label>
    <select class="form-control" id="category" name="tipo">
      <option value="0">Avaliador</option> 
      <option value="1">Candidato</option>
    </select>
  </div>
<button type="submit" class="btn btn-primary">Salvar</button>
</form> 
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>